textarea.progcode-answer, table.progcode-test-results td,
table.progcodeexamples td,
.testcaseexpression, .testcaseresult, .testcasestdin { 
    font-family:courier,monospace;
}

textarea.progcode-answer {
    width:100%;
}

div.progcode-examples {
    padding-bottom: 10px;
}


table.progcode-test-results td, table.progcode-test-results th, 
table.progcodeexamples td, table.progcodeexamples th {
    border: 1px solid #B0B0B0;
}

table.progcode-test-results .header, table.progcodeexamples .header {
    text-align: left;
}


div.progcode-test-results-good {
    background-color: #AAFFAA;
}


div.progcode-test-results-bad {
    background-color: #FFAAAA;
}

div.progcode-feedback {
	border:none;
	padding-bottom: 15px;
}

input[id~="grading"] {
    color:grey;
}

p.progcode-spacer {
    font-size: 5px;
}



/* Add lines I seem to have somehow overridden in styles.php */

tr.r0 td {
    background-color:#F5F5F5
}

tr.r1 td {
    background-color:#E5E5E5
}
